.tana-list, .tamatave-list{
    background-color: aliceblue;
    margin: 2em;
    padding: 2em;

}
.card{
    margin-bottom: 1em;
}
.titre{
    text-align: center;
}
button{
    background: transparent;
    font-weight: 600;
    font-size: 2ch;
    border-radius: 10px;
}
